.dan-colbert          { background-image: url('/assets/dan-colbert.jpg'); }
.indabasync           { background-image: url('/assets/indabasync.jpg'); }
.opportunities        { background-image: url('/assets/opportunities.jpg'); }
.suite-268            { background-image: url('/assets/suite268.jpg'); }
.client-testimonials  { background-image: url('/assets/client-testimonials.jpg'); }
.user-testimonials    { background-image: url('/assets/user-testimonials.jpg'); }


html,
body {
  display: block;
  height: 100%;
}

body {
  width: 100%;
	color: black;
  overflow: hidden;
}

p {
	font-family: 'Helvetica', "Arial", sans-serif;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

li {
	font-family: 'Helvetica', "Arial", sans-serif;
}

.keyboard-button {
  display: block;
  float: left;
  border: 2px solid;
  border-radius: 5px;
  padding: 4px 13px 5px;
  margin: 0 8px 1px 0;
  text-indent: -9px;
}


.controls {
  position: fixed;
  z-index: 3;
  width: 280px;
  right: 20px;
  bottom: 20px;
  opacity: 0.9;
}

.controls .panel {
  margin: 0;
  box-shadow: 1px 1px 10px -2px rgba(0,0,0, 0.75);
}

.controls .panel-heading .close,
.controls .panel-heading .badge {
  top: -1px;
  position: relative;
  margin-left: 2px;
}

.controls dl {
  margin: 15px 0 0;
  font-size: 20px;
}

.controls dl dt {
  float: left;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #0083CB;
}

.controls dl dd {
  margin: 0 0 15px;
  padding-top: 3px;
  color: #666;
}

.controls dl dd:last-child {
  margin-bottom: 0;
}


.backgrounds {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.backgrounds .background {
  position: static; 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


.slide-indicator {
  position: fixed;
  z-index: 3;
  top: 20px;
  right: 20px;
  padding: 6px 12px;
  border-radius: 6px;
  background: rgba(0,0,0, 0.5);
  color: #FFF;
  text-shadow: 1px 1px 1px #000;
  font-size: 24px;
}

.slide-indicator:empty {
  display: none;
}


.slide {
	position: relative;
  overflow: hidden;
  z-index: 2;
}



.container {
	width: 100%;
	background-color: white;
	box-shadow: 0 0 75px -5px #000;
  padding: 35px 40px;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-transition: margin-top 0.25s;
}

.container.black {
	background-color: black;
	box-shadow: 0 0 50px -5px #6a6a6a;
}

.container.section-divider {
	background-color: #1d7db3;
}

.container.center {
  text-align: center;
}

.container img {
  max-width: 100%;
}

.container .slide-image {
  max-width: none;
  min-height: 150px;
  max-height: 350px;
}


.container .carousel {
  height: 300px;
  width: 300px;
}

.container .top-carousel {
  z-index: 1000;
}

.container .bottom-carousel {
  z-index: 0;
}

.container .carousel-image {
  position: absolute;
  top: 0;
  bottom: 0;
}


.container p {
	font-size: 30px;
  line-height: 1.35em;
}

.container ul, ol {
	margin: 20px 0 10px;
}

.container li {
  font-size: 26px;
}

.container .highlight {
	color: white;
	background-color: #1d7db3;
	padding: 0 9px;
  white-space: nowrap;
}

.container .bold-text {
	font-size: 36px;
	font-weight: bold;
}

.container .blue-text {
	color: #1d7db3;
  font-size: 38px;
  line-height: 1.35em;
}

.container .blue-text + p {
  margin-top: 12px;
}

.container blockquote {
	font-size: 28px;
	margin-top: 40px;
}

.container blockquote small {
  font-size: 20px;
}

.container table {
  width: 100%;
  table-layout: auto;
}

.container table tr + tr td {
  padding-top: 25px;
}

.container table td.spacer {
  width: 3%;
}


#slide-6 .container table td:first-child {
  width: 40%;
}

#slide-6 .container .slide-image {
  max-width: 100%;
  max-height: none;
}


#slide-21 .container table td:last-child,
#slide-22 .container table td:last-child {
  width: 60%;
}

#slide-16 .container .slide-image {
  width: 500px;
  min-height: initial;
  max-height: initial;
}

#slide-21 .container .slide-image,
#slide-22 .container .slide-image {
  max-width: 100%;
  max-height: none;
}



.management-team {
  margin: 0;
}

.management-team table {
  margin-bottom: 15px;
}

.management-team .bio {
	clear: both;
  overflow: hidden;
}

.management-team .bio p {
	float: left;
	margin: 0;
	font-size: 20px;
}

.management-team .bio .tag {
	clear: both;
	font-size: 20px;
}

.management-team .bio .blue-text {
  font-size: 24px;
}

.management-team .bio img {
	float: left;
}

.management-team .bio .bio-left,
.management-team .bio .bio-right {
	float: left;
}

.management-team .bio .bio-right {
	width: 75%;
}

.management-team .bio .bio-pic {
	height: 89px;
	width: 89px;
	margin: 0 20px;
}

.management-team .bio .jj {
	background-image: url('../assets/jj.jpg');
}

.management-team .bio .dan {
	background-image: url('../assets/dz.jpg');
}

.management-team .bio .mantis {
	background-image: url('../assets/mantis.jpg');
}



.links table {
  height: 600px;
}

.links table tr {
}

.links table td.spacer {
  width: 3%;
}

.links .link-block {
	width: 31%;
  height: 300px;
}

.links .link-box {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid #FFF;
  box-shadow: 1px 1px 5px #666;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.links .link-box  span {
	display: block;
	position: absolute;
  z-index: 1;
	background-color: #1d7db3;
	bottom: 0;
  height: 60px;
	width: 100%;
	padding: 10px;
	color: #DDD;
	text-decoration: none;
	font-size: 14px;
}

.links .link-box:hover {
	border-color: #000;
  box-shadow: 1px 1px 10px #000;  
}

.links .link-box:hover span {
  color: #FFF;
  text-shadow: 1px 1px #000;
}


@media (max-width: 1600px) {

  .container p {
    font-size: 24px;
  }

  .container .blue-text {
    font-size: 30px;
  }

  .container li {
    font-size: 20px;
  }

  .bold-text {
    font-size: 24px;
  }

  .container .bio p {
    font-size: 18px;
  }

  .container .link-position a {
    font-size: 15px;
  }

}


@media (max-width: 800px) {

  .backgrounds {
    position: absolute !important;
    top: 0 !important;
    -webkit-transform: none !important;
  }

  .container {
    margin-top: 200px !important;
  } 

  .container p {
    font-size: 18px;
  }

  .container .blue-text {
    font-size: 22px;
  }

  .container li {
    font-size: 14px;
  }

  .bold-text {
    font-size: 16px;
  }

  .container .bio p {
    font-size: 12px;
  }

  .container .link-position a {
    font-size: 11px;
  }

  .slide .container table td {
    display: block;
    float: none;
    width: 100% !important;
  }

  .slide .container table td + td {
    margin-top: 10px;
  }

  .slide .slide-image {
    background-size: contain;
    width: 100% !important;
    min-width: initial;
    min-height: initial;
    max-height: initial;
  }

  .slide .content + .images {
    margin-top: 40px;
  } 

  .links .link-position {
    width: 95%;
  }  

}
